/* banner */

#canvas1 {
    animation: canvas1-in 2s ease-out;
    filter: blur(1px);
    opacity: 50%;
}

@keyframes canvas1-in {
    from {
        opacity: 0%;
        filter: blur(5px);
    }
    to {
        opacity: 50%;
        filter: blur(1px);
    }
}

.banner-top {
    display: flex;

    width: 100%;
    height: 30vh;
    position: fixed;
    top: 5vh;
    z-index: 100;
    position: fixed;
    top: 10vh;
}

.banner-text-cont {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.banner-text {
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0%); */
    margin: 3vh;
    font-size: 5vh;
    color: rgb(0, 47, 255);
    text-shadow: 0 0 7px rgb(0, 47, 255),
                 0 0 12px rgb(120, 180, 255);
    animation: banner-color 2s, ease-out;
    user-select: none;
}
.banner-text:nth-child(2) {
    transform: translate(40%, 0%);
}

@keyframes banner-color {
    from {
        color: rgb(0, 221, 255);
        text-shadow: 0 0 3px rgb(0, 221, 255);
    }
    to {
        color: rgb(0, 47, 255);
        text-shadow: 0 0 7px rgb(0, 47, 255),
                     0 0 12px rgb(120, 180, 255);
    }
}

.banner-bottom {
    position: fixed;
    bottom: 10vh;
    width: 100%;
    height: 30vh;
    z-index: 100;
}

.welcome-cont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    color: rgb(0, 108, 180);
    font-size: 7vh;
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    animation: welcome-show 2s ease-out;
    animation: welcome-color 5s infinite;
}

@keyframes welcome-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes welcome-color {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(50deg);
    }
    100% {
        fill: hue-rotate(0deg);
    }
}

/* news block */

.news {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.news-title {
    display: flex;
    width: 100%;
    /* height: 2vh; */
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.news-title span {
    text-align: center;
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255),
                 0 0 10px rgb(255, 255, 255);
}

.news-block {
    width: 100%;
    height: 20vh;

}