* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: rgb(57, 57, 57);
    overflow: hidden;
}

/* NAV */

._nav_cont {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

._nav {
    width: 100%;
    height: 5vh;
    background: linear-gradient(0deg, rgba(108,115,116,1) 0%, rgba(42,93,116,1) 100%);
    display: flex;
    justify-content: space-around;
}

._nav_div{
    width: 12vh;
    margin: 0 2vh 0 2vh;
    display: flex;
    justify-content: center;
}

._nav a {
    color: rgb(255, 255, 255);
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    cursor: pointer;
    transition: transform 0.5s ease-out;
    text-decoration: none;
}

._nav a:hover {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: aliceblue;
    text-shadow: 0 0 5px rgb(232, 252, 255);
}

._nav a:active {
    color: brown;
}

/* middle */

#canvas1 {
    animation: canvas1-in 2s ease-out;
    filter: blur(1px);
}

@keyframes canvas1-in {
    from {
        opacity: 0%;
        filter: blur(5px);
    }
    to {
        opacity: 100%;
        filter: blur(1px);
    }
}

.middle-top {
    display: flex;

    width: 100%;
    height: 30vh;
    position: fixed;
    top: 5vh;
    z-index: 100;
}

.banner-text-cont {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.banner-text {
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0%); */
    margin: 3vh;
    font-size: 5vh;
    color: rgb(0, 47, 255);
    text-shadow: 0 0 7px rgb(0, 47, 255),
                 0 0 12px rgb(120, 180, 255);
    animation: banner-color 2s, ease-out;
    user-select: none;
}
.banner-text:nth-child(2) {
    transform: translate(40%, 0%);
}

@keyframes banner-color {
    from {
        color: rgb(0, 221, 255);
        text-shadow: 0 0 3px rgb(0, 221, 255);
    }
    to {
        color: rgb(0, 47, 255);
        text-shadow: 0 0 7px rgb(0, 47, 255),
                     0 0 12px rgb(120, 180, 255);
    }
}